.contenedor {
  background-color: #a2dba4b6;
  height: 90vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 2%;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
  margin: 0 5%;
  color: black;
}

.example-container {
  height: 450px;
  overflow: auto;
}

table {
  width: 100%;
  background-color: azure;

}

section {
  width: 90%;
  margin: 3% auto;
}

.tabla {
  display: flex;
}

th {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: rgb(222, 207, 91);
}

td {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.arriba h1 {
  display: inline;
  /* font-family: 'Dancing Script', cursive; */
  font-weight: 300;
  font-size: 9vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.btn {
  display: inline;
  float: right;
  width: 15%;
  height: 2.3rem;
}

.arriba {

  display: inline-block;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 30px;
}
.icono-3{
  color: rgb(255, 68, 68);
}
.icono-2{
  color: rgba(67, 67, 255);
}
.icono-1{
  color: rgb(0, 201, 0);
}
.titulo{
  font-size: 16px;
  text-align: center;
}
@media (max-width:768px) {
  .arriba h1 {
    display: block;
    /* font-family: 'Dancing Script', cursive; */
    font-weight: 200;
    font-size: 7vh;
    font-family: 'Abril Fatface', cursive;
  }
  .titulo{
    font-size: 14px;
    text-align: center;
  }
  .btn {
    display: block;
    float: none;
    width: auto;
    height: auto;
  }

  section {
    width: 100%;
    margin: 3% auto;
  }
  .mat-icon{
    width: 6px;
  }
  .arriba {

    display: block;
    justify-content: space-between;
    width: 100%;
  }

  th {
    color: black;
    font-size: 14px;

  }
 
  td {
    color: black;

    font-size: 12px;
    padding: 0 1%;
    text-align: center;
  }
}

@media (max-width:320px) {
  .arriba h1 {
    display: block;
    /* font-family: 'Dancing Script', cursive; */
    font-weight: 200;
    font-size: 5vh;
    font-family: 'Abril Fatface', cursive;
  }

  .btn {
    display: block;
    float: none;
    width: auto;
    height: auto;
  }

  section {
    width: 100%;
    margin: 3% auto;
  }

  .arriba {

    display: block;
    justify-content: space-between;
    width: 100%;
  }

  th {
    color: black;
    font-size: 15px;
  }

  td {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
  }
  .titulo{
    font-size: 12px;
    text-align: center;
  }
  .mat-icon{
    width: 4px;
  }
}