/* nav{
  background-color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;

}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1.2em;
  display: inline-block;
  margin: 1.5% 3%;
} */

* {
  box-sizing: border-box;
}


.navbar {
  overflow: hidden;
  /* background-image: url(../../../assets/img/rosa.svg); */
  background-image: url(../../../assets/img/foto-navbar-editado.jpg) ;
  /* position: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  width: 102vw;
  background-color: blueviolet;

}
.navbar h2 {
  font-family: 'Pinyon Script', cursive;
  font-size: 60px;
}
.navbar span{
  font-size: 30px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.titulo{
  width: 25%;
  margin: 2% 39%;
  text-align: center;
}
.navegacion{ 
  width: 90%;
  margin: 0 5%;

}

.navbar a {
  float: left;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  font-family:'Montserrat', sans-serif ;
  width: 20%;
}
mat-icon{
  font-size: auto;
}
@media (max-width:768px){
  .navbar a {
    font-size:16px
  }
  mat-icon{
    font-size: 16px;
  }
}