<div class="navbar">
  <div class="titulo"> <h2>¡¡Bienvenidos!! <br> </h2>  <span>Foro y opiniones de  Recetas de cocina</span></div>

  <a [routerLink]="['home']"><mat-icon>home</mat-icon>Inicio</a>
 
  <div class="navegacion"> <a [routerLink]="['agenda']"><mat-icon>supervisor_account</mat-icon>Agenda</a>
   
   </div>
 </div>
 
