.cuerpo{
  background-size: cover;
  background-color: #a2dba4a0;
  font-family:'Montserrat', sans-serif ;
  overflow: hidden;
  padding: .8em 1em;
  margin:  0 0%;
  display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
   

}

span{
  font-size: 45px;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 140, 0)
  ;
}
.cubo1{
  width:50%;
}

.cubo2{
  width:50%;
}

.cubo3{
  width: 50%;
}
.cubo4{
  width: 50%;
}

.btn{
  float: right;
}
.div{
  font-size: 20px;

}