

<div class="cuerpo">
 <br>
  <div class="cubo1">
    <div class="div">	 <span>Carne</span> <br> <br>
      Con las recetas de carne en foro cocina nos aseguramos poder degustar infinidad de platos para todos los gustos. La carne es muy versátil y podemos prepararla de miles de formas diferentes y con multitud de ingredientes. Sin duda, las recetas de carne suelen ocupar el lugar de los primeros platos en la mayoría de los casos.
    </div> 
  
      <section  class="btn">
        <div class="example-button-row">
  
  <a mat-raised-button [routerLink]="['agenda']" >Ver Receta</a>
        </div>
      </section>
  </div>  <br> <br>

  <div class="cubo2">
    
    <div class="div">	<span>Huevo</span> <br> <br>
      
      Las recetas de huevos nos muestran la cantidad de platos diferentes que podemos confeccionar con este ingrediente tan versátil y fácil de combinar con casi cualquier cosa. Salir un poco de lo habitual nos ayuda a disfrutar aún más de la cocina y esto ocurre especialmente con los huevos, ya que no solo se pueden hervir o freír.
    </div> 
  
      <section class="btn">
        <div class="example-button-row">
          <a mat-raised-button  href="https://www.google.com/" target="_blank">Ver Receta</a>
        </div>
      </section>
  </div>  <br>  <br>
  
  <div class="cubo3">
    <div  class="div">	<span>Pasta</span> <br>  <br>
      Las recetas de pasta en foro cocina son muy populares porque son realmente sencillas de realizar en la gran mayoría de los casos. La pasta es la opción sencilla a la que muchos recurren a la hora de cocina, pero las recetas de pasta logran aportar un toque más delicioso y suculento para no caer en la temida rutina gastronómica y no repetir platos.
    </div> 
  
      <section class="btn">
        <div class="example-button-row">
          <a mat-raised-button href="https://www.google.com/" target="_blank">Ver Receta</a>
        </div>
      </section>
  </div>  <br> <br> 

  <div class="cubo4">
    <div class="div">	 <span>Ensaladas</span> <br> <br>
      Con las recetas de carne en foro cocina nos aseguramos poder degustar infinidad de platos para todos los gustos. La carne es muy versátil y podemos prepararla de miles de formas diferentes y con multitud de ingredientes. Sin duda, las recetas de carne suelen ocupar el lugar de los primeros platos en la mayoría de los casos.
    </div> 
  
      <section class="btn">
        <div class="example-button-row">
          <a mat-raised-button href="https://www.google.com/" target="_blank">Ver Receta</a>
        </div>
      </section>
  </div>
</div>


